@using EnergyCalculator.Core.Models.Ingredient
@model IEnumerable<AllIngredientViewModel>
@{
    ViewData["Title"] = "All ingredients";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
                       <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><label>Receipt</label></th>
                                 <th><label>Product</label></th>
                                 <th><label>QuantityForIngredient</label></th>
                                <th><label>TotalQuantity</label></th>
                             </tr>
                        </thead>
                        <tbody>           
            @foreach (var ingr in Model)
            {
                             <tr>
                                <td><label>@ingr.Receipt</label></td>
                                        <td><label>@ingr.Product</label></td>
                                                <td><label>@ingr.QuantityForIngredient</label></td>
                                                        <td><label>@ingr.TotalQuantity</label></td>
                            </tr>
            }

                        </tbody>
                    </table>
}
else
{
                        <h3 class="text-center">You have no ingredients yet!</h3>
}
