@model AllIngredientByReceipt

<h4 class="text-center">All Ingredients in the receipt <spam style="color:red">@Model.ReceiptName</spam></h4>

<hr />
@if (Model.Ingredients.Any())
{
       <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
              <tr>
                 <th style="width:600px"><label>Product</label></th>
                 <th style="width:400px"><label>Quantity in grammes</label></th>
                  <th><label>Total Calories for the product</label></th>
               </tr>
          </thead>
           <tbody>           
    @foreach (var ingre in Model.Ingredients)
    {
              <tr>
                <td><label>@ingre.Product</label></td>
                <td><label>@ingre.QuantityForIngredient</label></td>
                <td><label>@ingre.TotalQuantity</label></td>
             </tr>        
    }
         </tbody>
     </table>
<hr />
<h4 class="text-center">Total Calories for the receipt: <spam style="color:red">@Model.TotalCaloriesForReceipt</spam></h4>
}
else
{
 <h4 class="text-center">No yet added ingredients in this receipt !</h4>
}


<div class="text-center">
    <input class="btn btn-primary mt-3" type="button" value="Back" onclick="history.back()"/>
</div>